.home_container {
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
}

.home_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.home_container .text_container {
    width: 40vw;
    justify-content: space-around;
}

.home_container .text_container h1 {
    font-size: 4em;
    font-weight: 400;
}

.home_container .text_container p {
    margin: 2em 0;
    font-size: 1.5em;
}

.home_container .img_container img{
    width: 40vw;
    height: 800px;
    width: auto;
}

